Migrations/
obj/Debug/
bin/Debug/
obj/Debug/net5.0/WdprPretparkDenhaag.pdb
obj/Debug/net5.0/WdprPretparkDenhaag.dll
obj/Debug/net5.0/WdprPretparkDenhaag.RazorCoreGenerate.cache
obj/Debug/net5.0/WdprPretparkDenhaag.Views.dll
obj/Debug/net5.0/WdprPretparkDenhaag.Views.pdb
obj/Debug/net5.0/WdprPretparkDenhaag.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/WdprPretparkDenhaag.csproj.FileListAbsolute.txt
obj/Debug/net5.0/WdprPretparkDenhaag.dll
obj/Debug/net5.0/WdprPretparkDenhaag.pdb
obj/Debug/net5.0/WdprPretparkDenhaag.RazorCoreGenerate.cache
obj/Debug/net5.0/WdprPretparkDenhaag.Views.dll
obj/Debug/net5.0/WdprPretparkDenhaag.Views.pdb
bin/Debug/net5.0/WdprPretparkDenhaag.dll
bin/Debug/net5.0/WdprPretparkDenhaag.pdb
bin/Debug/net5.0/WdprPretparkDenhaag.Views.dll
bin/Debug/net5.0/WdprPretparkDenhaag.Views.pdb
bin/Debug/net5.0/ref/WdprPretparkDenhaag.dll
obj/Debug/net5.0/ref/WdprPretparkDenhaag.dll
Migrations/20220528144456_InitialCreate.cs
Migrations/20220528144456_InitialCreate.Designer.cs
bin/Debug/net5.0/WdprPretparkDenhaag.dll
bin/Debug/net5.0/WdprPretparkDenhaag.pdb
bin/Debug/net5.0/WdprPretparkDenhaag.Views.dll
bin/Debug/net5.0/WdprPretparkDenhaag.Views.pdb
bin/Debug/net5.0/ref/WdprPretparkDenhaag.dll
bin/Debug/net5.0/WdprPretparkDenhaag.dll
bin/Debug/net5.0/WdprPretparkDenhaag.pdb
bin/Debug/net5.0/WdprPretparkDenhaag.dll
bin/Debug/net5.0/WdprPretparkDenhaag.pdb
bin/Debug/net5.0/WdprPretparkDenhaag.Views.dll
bin/Debug/net5.0/WdprPretparkDenhaag.Views.pdb
bin/Debug/net5.0/ref/WdprPretparkDenhaag.dll
12WDPR.session.sql
Migrations/20220529145844_migratieDatabasescaffold124lljjktytyuhkhkujygtjygtjytjyjfjyfyjk.cs
Migrations/20220529145844_migratieDatabasescaffold124lljjktytyuhkhkujygtjygtjytjyjfjyfyjk.Designer.cs
obj/Debug/net5.0/Razor/Views/Kaart/Index.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Kaart/Index.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Kaart/Index.cshtml.g.cs
Migrations/20220531180746_initialmigration.cs
Migrations/20220531180746_initialmigration.Designer.cs
obj/Debug/net5.0/Razor/Views/Attractie/Create.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Attractie/Delete.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Attractie/Details.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Attractie/Edit.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Attractie/Index.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/PlanningItem/Create.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/PlanningItem/Delete.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/PlanningItem/Details.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/PlanningItem/Index.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/PlanningItem/Edit.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Tijdslot/Create.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Tijdslot/Delete.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Tijdslot/Details.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Tijdslot/Edit.cshtml.g.cs
obj/Debug/net5.0/Razor/Views/Tijdslot/Index.cshtml.g.cs
1234WDPR.session.sql
